.formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #c82333;
  }
  
  /* Estilos generales para la sección de posts */
h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  hr {
    margin-bottom: 30px;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Estilos para las tarjetas de los posts */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card-img-top {
    width: 50%;
    height: auto; 
    min-height: 100px; 
    max-height: 600px; 
    display: block; 
    margin: 0 auto; 
    object-fit: cover; 
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .text-muted {
    font-size: 14px;
  }
  